<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{taskName}} Wishlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="wishForm" (ngSubmit)="onWishSubmit(wishForm.value)">
    <ion-item>
      <ion-label>
        Category
      </ion-label>
      <ion-select name="" formControlName="category" ok-text="Select" cancel-text="Close">
        <ion-select-option>
          Places Of Interest
        </ion-select-option>
        <ion-select-option>
          Food
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Name:
      </ion-label>
        <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Description:
      </ion-label>
        <ion-input formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Location:
      </ion-label>
        <ion-input formControlName="location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        URL:
      </ion-label>
        <ion-input placeholder="Optional" formControlName="url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Opening Time:
      </ion-label>
        <ion-input formControlName="openingTime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Price:
      </ion-label>
        <ion-input placeholder="Optional" formControlName="price"></ion-input>
    </ion-item>
    <ion-button color="primary" type="submit" style="text-transform:capitalize;" expand="block" (click)="onWishSubmit(wishForm.value)">
      {{taskName}}
    </ion-button>
  </form>
</ion-content>
