<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      Picture placeholder
    </ion-item>

    <ion-item>
      <!-- <ion-label position="stacked">Username </ion-label> -->
      <ion-input required type="text" placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label position="stacked">Password </ion-label> -->
      <ion-input required type="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-button
      routerLink="/menu/home"
      expand="block"
      type="submit"
      color="success"
      >Login</ion-button
    >
    <ion-button
      routerLink="/register"
      fill="clear"
      expand="block"
      style="text-transform: none;"
      >Register an account</ion-button
    >
    <ion-button
      routerLink="/register"
      fill="clear"
      expand="block"
      style="text-transform: none;"
      >Reset password</ion-button
    >
    <ion-item-divider></ion-item-divider>
    <ion-row style="height: 30px"></ion-row>
    <ion-button expand="block" color="danger" routerLink="/menu/home">Google Login</ion-button>
  </form>
</ion-content>
