<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      Picture placeholder<br/> <br/>
    </ion-item>

     <ion-item>
      <ion-label position="floating"
        >First Name <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input required type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"
          >Last Name <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input required type="text"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label position="floating"
        >Username <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input required type="text"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label position="stacked">Password </ion-label> -->
      <ion-label position="floating"
        >Password <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input required type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        >Confirm Password <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input required type="password"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label position="stacked">Username </ion-label> -->
      <ion-label position="floating"
        >Email<ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        type="email"
        inputmode="email"
      ></ion-input>
    </ion-item>

    <ion-button
      routerLink="/login"
      expand="block"
      type="submit"
      color="success"
      >Register</ion-button
    >
  </form>
</ion-content>
