<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Collaborators
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-label>Close</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" color="secondary" [hidden]="!loading"></ion-progress-bar>
</ion-header>

<ion-content>
  <form [formGroup]="collabForm" (ngSubmit)="collabFormSubmit(collabForm.value)">
    <ion-list>
      <ion-list-header>
        <ion-label>Add collaborator</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username" placeholder="Steven"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" placeholder="steven@gmail.com"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="primary" type="submit" style="text-transform:capitalize;" expand="block">
      Add Collaborator
    </ion-button>
  </form>

  <ion-list>
    <ion-list-header>
      <ion-label>Collaborators</ion-label>
    </ion-list-header>
    <ion-item button *ngFor="let planCollab of planCollabs" (click)="planCollabClick(planCollab)">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ planCollab.userName }}</h2>
        <h3>{{ planCollab.email }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
