<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      PlanNGo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label><h2>Places To Go</h2></ion-label>
    </ion-list-header>
    <ion-card class="place-img" button>
      <img src="../../../assets/images/malaysia.jpg" alt="malaysia" />
      <ion-card-header>
        <ion-card-title>Malaysia</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="place-img" button>
      <img src="../../../assets/images/thailand.jpg" alt="thailand" />
      <ion-card-header>
        <ion-card-title>Thailand</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="place-img" button>
      <img src="../../../assets/images/korea.jpg" alt="korea" />
      <ion-card-header>
        <ion-card-title>Korea</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
