<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      PlanNGo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label><h2>Places To Go</h2></ion-label>
    </ion-list-header>
    <ion-card class="place-img" button>
      <img src="../../../assets/images/malaysia.jpg" alt="malaysia" />
      <ion-card-header>
        <ion-card-title>Malaysia</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="place-img" button>
      <img src="../../../assets/images/thailand.jpg" alt="thailand" />
      <ion-card-header>
        <ion-card-title>Thailand</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="place-img" button>
      <img src="../../../assets/images/korea.jpg" alt="korea" />
      <ion-card-header>
        <ion-card-title>Korea</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label><h2>Plans</h2></ion-label>
    </ion-list-header>
    <ion-item lines="full" button>
      <ion-label>
        <h2>Create one now</h2>
      </ion-label>
      <ion-icon name="add" slot="end"></ion-icon>
    </ion-item>
    <ion-item button>
      <ion-icon name="airplane" slot="start"></ion-icon>
      <ion-label>
        <h2>Taiwan</h2>
        <h3>22 Oct 2019 - 28 Oct 2019</h3>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon name="airplane" slot="start"></ion-icon>
      <ion-label>
        <h2>Indonesia</h2>
        <h3>11 Dec 2019 - 120 Dec 2019</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
