.camera-img {
  border: 1px;
  border-style: solid;
  margin-bottom: auto;
  height: 50%;
}
ion-select {
  text-align: center;
}
ion-button {
  width: 100%;
  border-radius: 2px;
}
#page-container2 {
  height: 30vh;
  position: relative;
  .textArea {
    width: 100%;
    max-height: 100%;
    border: 1px;
    border-style: solid;
    border-radius: 2px;
  }
}

#page-container3 {
  height: 5vh;
  padding-top: 2px;
  position: relative;
}

.journalPage, html, body {
  height: 100vh;
}
.image {
  height: 100%;
  width: 100%;
}

#page-container1 {
  position: relative;
  width: 100%;
  //height: 300px;
  height: 50vh;
  margin: 0;
  border: 2px;
  border-style: solid;
}
