<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      PlanNGo
    </ion-title>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" color="secondary" [hidden]="!loading"></ion-progress-bar>
</ion-header>
<ion-content class="journalPage has-header">
  <form [formGroup]="journalForm" (ngSubmit)="onSubmit()" id="page-form4" class="list">
    <ion-button id="camera" class="button button-positive button-block" (click)="getCamera()">Camera</ion-button>
    <div id="page-container1">
      <img class="image" src="{{image}}" alt="" />
    </div>
    <div *ngIf="travelPlan">
      <ion-select formControlName="travelPlanTitle" *ngFor="let options of travelPlan" placeholder="Select Travel Plan">
        <ion-select-option  value="options.title">{{options.title}}</ion-select-option>
      </ion-select>
    </div>
    <div id="page-container2">
      <ion-textarea class="textArea" formControlName="journalDetails" placeholder="Description"></ion-textarea>
      <ion-button id="page-button2" class="button button-positive button-block" type="submit">Submit</ion-button>
    </div>
  </form>
</ion-content>