<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Create Plan
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="collaboratorClick()">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label><h2>Basic Info</h2></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Plan name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date going</ion-label>
      <ion-datetime displayFormat="DD MMM YY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Date returning</ion-label>
      <ion-datetime displayFormat="DD MMM YY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Place that you are going</ion-label>
      <ion-select placeholder="Country">
        <ion-select-option value="malaysia">Malaysia</ion-select-option>
        <ion-select-option value="thailand">Thailand</ion-select-option>
        <ion-select-option value="korea">Korea</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea row="6"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label><h2>Flight Info</h2></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Flight Code</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date and time</ion-label>
      <ion-datetime displayFormat="DD MMM YY HH:mm" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Reminder (24 hours before)</ion-label>
      <ion-checkbox color="primary" checked slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button color="primary" expand="block">
    Create Plan
  </ion-button>
</ion-footer>
