<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Wishlist Update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label>
        Category: 
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Name:
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Description:
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Location:
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        URL:
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Opening Time:
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Price
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button color="primary" type="submit" style="text-transform:capitalize;" expand="block" (click)="updateWishList()">
      Update WishList
    </ion-button>
  </form>
</ion-content>
